<h1><%= @item.name %></h1>

<ul>
  <li>Цена:          <%= @item.price %> гр.</li>
  <li>Вес:           <%= @item.weight %> кг.</li>
  <li>Описание:      <%= urls_to_images(@item.description) %></li>
  
</ul>
